body {
    background-color: rgb(23, 23, 43);
    background-repeat: no-repeat;
    background-position: right top;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  }
    
img{
    text-align:left;
    display:inline;
    width: 75px;
    height: 75px;
    float: left;
}
h1{
    text-align: center;
    text-decoration: none;
    font-style: none;
    display:inline;
}
h2{
    padding: 100px 300px;
    background-color:black;
    margin-left: -10px;
    margin-right: -10px;
    color: tomato;
    text-align: right;
}
h3{
    padding: 100px 100px;
    background-color: white;
    margin-left: -10px;
    margin-right: -10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    padding: 10px 10px;
    margin-top: -3mm;
    border-color: darkblue;
    border: 15px;
  }
  
  li {
    display: inline-block;
    color: tan;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a {
    display: block;
    color: tan;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    display: inline-block;
    font-size: 8mm;
  }
  
  li a:hover {
    background-color: lightblue;
  }